.wrapper {
    padding: 30px 70px 50px 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .sts-item {
    flex: 1;
    border: 1px solid #ddd;
    padding: 22px 18px;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-size: 1.2rem;
    }

    strong {
        color: #0166ff;
    }
}

.thumb img {
    display: inline-flex;
    width: 24px;
}

.value {
    padding-top: 12px;
    font-family: 'Sora', sans-serif;
    font-size: 3.3rem;
    font-weight: 600;
    color: #1b3152;
}

.type {
    color: #717171;
    font-size: 1.4rem;
}

.timesheet-log {
    margin-top: 10px;
}

.timesheet-log .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;

    h4 {
        font-size: 2rem;
    }

    div {
        display: flex;
        gap: 8px;
    }

    .active-btn {
        cursor: pointer;
    }
}

.container {
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.log-item {
    display: grid;
    grid-template-columns: 120px 120px 50px 1fr;
    border-bottom: 1px solid #eee;
    padding: 12px 0 10px 0;
    align-items: center;
}

.log-avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
}
.active-btn {
    user-select: none;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.active-btn:first-of-type {
    margin-right: 10px;
}

.active-btn.active {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -4px;
        left: 0;
        height: 2px;
        background-color: #0166ff;
    }
}

.log-item .time {
    color: #0166ff;
    background: rgba(50, 90, 255, 0.06);
    border-radius: 30px;
    width: fit-content;
    padding: 6px 14px;
}

.log-item .full-name strong {
    color: #292c3f;
    font-weight: 500;
}

.type-checkin,
.type-checkout {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
}

.type-checkin {
    color: #656689;
}

.type-checkout {
    color: #ff997e;
}
