.wrapper {
    padding: 30px 70px 50px 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .sts-item {
    flex: 1;

    padding: 22px 18px;
    background-color: #fff;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(61, 129, 194, 0.24);
    }
}

// .header .sts-item:nth-child(1)::before {
//     background-color: #3d81c2;
// }

// .header .sts-item:nth-child(2)::before {
//     background-color: #a6cf4a;
// }
// .header .sts-item:nth-child(3)::before {
//     background-color: rgba(61, 129, 194, 0.24);
// }
// .header .sts-item:nth-child(4)::before {
//     background-color: #ff997e;
// }
.thumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-size: 1.2rem;
    }

    strong {
        color: #0166ff;
    }
}

.thumb img {
    display: inline-flex;
    width: 24px;
}

.value {
    padding-top: 12px;
    font-family: 'Sora', sans-serif;
    font-size: 3.3rem;
    font-weight: 600;
    color: #1b3152;
}

.type {
    color: #717171;
    font-size: 1.4rem;
}

.timesheet-log {
    margin-top: 24px;
}

.timesheet-log .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    color: #183153;

    h4 {
        font-size: 2rem;

        font-weight: 600;
    }

    div {
        display: flex;
        gap: 8px;
    }

    .active-btn {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 4px;
    margin-top: 10px;
}

.log-item {
    display: grid;
    grid-template-columns: 100px 100px 50px 1fr;
    background-color: #fff;
    padding: 12px 0 10px 12px;
    align-items: center;
    border-radius: 8px;
}

.log-avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
}
.active-btn {
    user-select: none;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
}

.active-btn:first-of-type {
    margin-right: 10px;
}

.active-btn.active {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -4px;
        left: 0;
        height: 2px;
        background-color: #0166ff;
    }
}

.log-item .time {
    color: #0166ff;
    background: rgba(50, 90, 255, 0.06);
    border-radius: 30px;
    width: fit-content;
    padding: 6px 14px;
}

.log-item .full-name strong {
    color: #292c3f;
    font-weight: 500;
}

.type-checkin,
.type-checkout {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
}

.type-checkin {
    color: #656689;
}

.type-checkout {
    color: #ff997e;
}

//STATS IN MONTH
.stats-in-month {
    padding: 20px 0 10px 0;
}

.stats-in-month .choose-month {
    display: flex;
    align-items: center;
    gap: 18px;
}

.wrap-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f9f9f9;
    cursor: pointer;

    img svg {
        font-size: 1.5rem;
    }
}

.month-value {
    font-family: 'Sora', sans-serif;
    font-size: 1.7rem;
}
.stats-in-month p {
    color: #183153;
    font-size: 2rem;
    font-weight: 600;
}

.header-stats-month {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title,
.employee-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.stats-month-wrapper .title {
    padding: 12px 12px 8px 12px;
}

.stats-month-wrapper .title-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #888;
    font-size: 1.3rem;
}

.employee-item {
    background-color: #fff;
    margin-bottom: 6px;
    padding: 12px 12px;
    border-radius: 4px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 2.5px;
        height: 100%;
        top: 0;
        bottom: 0;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }
}

.employee-item:nth-child(2n + 1)::before {
    background-color: #d8e2fc;
}

.employee-item:nth-child(2n)::before {
    background-color: #ddc4bd;
}

.emp-id,
.days-off,
.days-checkin {
    cursor: pointer;
}

//MODAL COMON

body.active-modal {
    overflow-y: hidden;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

//MODAL PROFILE

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffff;
    border-radius: 3px;
    width: 500px;
    padding-bottom: 12px;
    user-select: none;
}

.thumbnail-img {
    position: relative;
}
.banner {
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(71.47deg, #f0ccdc 22.92%, #f4e6c2 62.85%, #d1deb4 96.68%);
}

.wrapper-avatar {
    width: 140px;
    height: 140px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 24px;
    bottom: -30px;

    span {
        font-size: 4rem;
        font-weight: 600;
        color: #fff;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        background-color: #183153;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.wrapper-avatar img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-group {
    text-align: left;
    margin-top: 50px;
    padding-left: 24px;
}

.profile-name {
    h3 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.5;

        color: #010101;
    }
}

.address {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 2rem;
    color: #717171;
    svg {
        color: #b6cae8;
    }
}

.profile-infos {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;

    span:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: -18px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #717171;
        }
    }
}

.modal-content .clear {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #717171;
    background-color: #ddd;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

//MODAL FURLOUGH

.modal-content-furlough {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.repeat {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 20px;
    position: relative;

    + .repeat {
        border-top: 2px solid #ddd;
    }
}
.repeat-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.repeat-content span:nth-child(2) {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;

    color: #656689;
    margin-top: 6px;
}

.day-off-from,
.day-off-to {
    padding: 4px 6px;
    border-radius: 2px;
}

.day-off-from {
    color: #87d6b5 !important;
    background-color: #ecfbf4;
}

.day-off-to {
    color: #a92951 !important;
    background-color: #ffe7ef;
}
.full-name-emp {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 1;

    color: #48496a;
}

.repeat img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 50%;
}
