.wrapper {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.header h4 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    padding: 8px 0;
}

.timesheet-filter {
    display: grid;
    grid-template-columns: 84px repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.timesheet-filter {
    color: #666;
    user-select: none;
}

.timesheet-filter .item-sort {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-down {
    margin-top: -8px;
}

.icon-up {
    margin-bottom: -8px;
}

.timesheet-filter span {
    font-size: 1.4rem;
    cursor: pointer;
}

.ite {
    display: flex;
    align-items: center;
    gap: 6px;
}
