.wrapper {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 12px;
    border-radius: 8px;
    margin-bottom: 24px;
    h4 {
        font-family: 'Sora', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1;
    }
}

.due-date {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
        color: #0975de;
        cursor: pointer;
    }
}

.wrap-filter,
.wrap-item {
    display: grid;
    grid-template-columns: 120px 120px 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

.wrap-filter {
    padding-bottom: 6px;
}

.wrap-filter .item-sort {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 6px;
    font-size: 1.5rem;
    color: #666;
}

.wrap-filter .item-sort svg {
    font-size: 1.3rem;
}

.wrap-filter .item-sort:nth-child(2) {
    svg {
        color: #3d81c2;
    }
}

.wrap-filter .item-sort:nth-child(3) {
    svg {
        color: #ffd05a;
    }
}

.wrap-filter .item-sort:nth-child(4) {
    svg {
        color: #a6cf4a;
    }
}

.wrap-filter .item {
    padding: 12px;

    font-size: 1.4rem;
    font-weight: 500;
}

.wrap-filter .item.days-off {
    cursor: pointer;
}

.wrap-item {
    padding: 12px 0;
    background-color: #fff;
    border-radius: 6px;
}

.wrap-item + .wrap-item {
    margin-top: 2px;
}

.item.group-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item .avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.item .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    svg {
        color: #717171;
        cursor: pointer;
    }
}

.accept,
.deny {
    width: 16px;
    height: 16px;
    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
        color: #fff;
        font-size: 1.1rem;
    }
}

.deny {
    background-color: #fb6238;
}

.accept {
    background: #a6cf4a;
}

.time-off {
    p {
        font-size: 1.3rem;
        padding: 8px 12px 6px 12px;
        line-height: 1.6;
    }

    .time-from {
        color: red;
    }

    .time-to {
        color: #0166ff;
    }
}

.container-calender {
    position: absolute;
    top: 60px;
    right: 50px;
    border: 1px solid #ddd;
}

//Modal common

body.active-modal {
    overflow-y: hidden;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

//modal Furlough
.modal-content-furlough {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.repeat {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 20px;
}
.repeat-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.repeat-content span:nth-child(2) {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;

    color: #656689;
    margin-top: 6px;
}

.day-off-from,
.day-off-to {
    padding: 4px 6px;
    border-radius: 2px;
}

.day-off-from {
    color: #87d6b5 !important;
    background-color: #ecfbf4;
}

.day-off-to {
    color: #a92951 !important;
    background-color: #ffe7ef;
}
.full-name-emp {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 1;

    color: #48496a;
}

.repeat img {
    width: 62px;
    height: 62px;
    object-fit: cover;
    border-radius: 50%;
}

.btns-action {
    border-top: 2px solid #ddd;
    padding-top: 12px;
    padding-bottom: 20px;
}

.btns-action p {
    padding-left: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 1;

    color: #48496a;
}

.btns-action div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 20px 0 20px;

    button {
        flex: 1;
        padding: 12px 0;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 4px;
    }

    button.yes {
        background-color: #0166ff;
        color: #fff;
    }
}

//modal Profile

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    border-radius: 3px;
    width: 500px;
    padding-bottom: 12px;
    user-select: none;
}

.thumbnail-img {
    position: relative;
}
.banner {
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(71.47deg, #f0ccdc 22.92%, #f4e6c2 62.85%, #d1deb4 96.68%);
}

.wrapper-avatar {
    width: 140px;
    height: 140px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 24px;
    bottom: -30px;
}

.wrapper-avatar img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-group {
    text-align: left;
    margin-top: 50px;
    padding-left: 24px;
}

.profile-name {
    h3 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.5;

        color: #010101;
    }
}

.address {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 2rem;
    color: #717171;
    svg {
        color: #b6cae8;
    }
}

.profile-infos {
    display: flex;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;

    span:not(:last-child) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: -18px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #717171;
        }
    }
}

.modal-content .clear {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #717171;
    background-color: #ddd;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-accept,
.btn-deny {
    background-color: #ddd;
    margin-left: 12px;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-accept {
    color: #87d6b5;
    background-color: #ecfbf4;
}

.btn-deny {
    color: #a92951;
    background-color: #ffe7ef;
}

//form updtae

.wrap-form {
    overflow-y: scroll;
}

.form {
    margin-top: 70px;
    padding: 50px 120px 50px 50px;
}

.form-group {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.form-group + .form-group {
    margin-top: 30px;
}

.form-label {
    display: flex;
    gap: 6px;
    align-items: center;
    width: 120px;
}

.form-group:nth-child(1) .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 20px;
}

.form-group:nth-child(1) .content .item {
    border: 1px solid #ddd;
    padding: 10px 24px;
    cursor: pointer;

    &:hover {
        border-color: #7398f6;
    }

    p {
        text-align: center;
        font-size: 1.3rem;
    }
}

.form-group:nth-child(1) .content .item.active {
    color: #fff;
    background-color: #7398f6;
}

.form-label svg {
    color: #aaa;
}

.form-label span {
    font-weight: 600;
    font-size: 1.3rem;
}

.calender-wrap {
    border: 1px solid #ddd;
    padding: 16px;
}

.form-group .content > textarea {
    width: 365px;
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    resize: none;
    outline: none;
}

.submit {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.submit button {
    width: 120px;
    border: 2px solid #0f1b4c;
    color: #0f1b4c;
    background-color: transparent;
    padding: 10px 16px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 600;
}

.submit button.send {
    background-color: #0f1b4c;
    color: #fff;
}

.repeat-content.update {
    width: 100%;
    padding-left: 12px;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-right: 12px;
    border-bottom: 2px solid #ddd;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item .actions {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #f7f6f9;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
    }

    span svg {
        font-size: 1.3rem;
        color: #a7a8ab;
    }
}
