.wrapper {
    padding-left: 20px;
}

.header {
    position: fixed;
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 20px;
    padding-right: 10px;
    user-select: none;
    z-index: 6;
    background-color: #fff;
}

.header h4 {
    font-family: 'Sora', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
}

.header .type {
    display: flex;
    align-items: center;
    gap: 18px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    cursor: pointer;
    color: #717171;
}
.header .type span.active {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        background-color: #3d81c2;
        bottom: -6px;
        left: 0;
    }
}

.timesheet-filter,
.item {
    display: grid;
    grid-template-columns: 84px repeat(7, 1fr);
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.timesheet-filter {
    color: #666;
    user-select: none;
    padding-top: 80px;
    padding-bottom: 8px;
}

.timesheet-filter .item-sort {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-down {
    margin-top: -8px;
}

.icon-up {
    margin-bottom: -8px;
}

.timesheet-filter span {
    font-size: 1.4rem;
    cursor: pointer;
}
.item {
    border: 1px solid #ddd;
    padding: 12px 0;

    span {
        font-size: 1.5rem;
        color: #1b3152;
        font-weight: 500;
    }
}

.item .time-in {
    color: #88ae32;
}

.item .time-out {
    color: #3d81c2;
}

.ite,
.date {
    display: flex;
    align-items: center;
    gap: 6px;
}

.item .day-off-week {
    background-color: #90ccff;
    width: 50px;
    padding: 3px 0;
    color: #656689;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.thumbnail {
    padding-left: 12px;
}

.thumbnail img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.status-present,
.status-absent {
    width: fit-content;
    padding: 4px 6px;
    font-size: 1.4rem !important;
    border-radius: 3px;
}
.status-present {
    color: #87d6b5 !important;
    background-color: #ecfbf4;
}
.status-absent {
    color: #a92951 !important;
    background-color: #ffe7ef;
}
